section.banner
  .banner-bg
    .banner-bg__media
      video(
        disablePictureInPicture,
        preload='auto',
        playsinline,
        loop,
        muted,
        autoplay
      ) 
        source(src=require('@/assets/video/banner.mp4'), type='video/mp4')

  ._container.banner__container
    .banner__wrapper
      .banner__content
        .banner__main
          h1.banner__title Learn to one arm handstand become your own hero!

          p.banner__subtitle <span>One arm labs</span> is a step by step personal online program

        .banner-action
          p.banner-action__title Ready to start?

          button.banner-action__button.button-light.popup-open(
            data-popup='_popup-thanks'
          )
            span learn to one arm handstand

      button.banner-play.popup-open(data-popup='_popup-banner')
        <svg width="215" height="217" viewBox="0 0 215 217" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path class='line-big' d="M63.8964 174.103C28.7244 148.55 20.87 99.4006 46.3531 64.3261C71.8361 29.2517 121.007 21.5338 156.179 47.0878C164.551 53.1704 171.375 60.5899 176.57 68.8382" stroke="white" stroke-opacity="0.3"/>
          <path class='line-small' d="M96.584 158.585C128.18 166.083 158.907 150.615 165.214 124.035C171.522 97.4556 151.022 69.8302 119.426 62.3321C111.905 60.5473 104.434 60.0638 97.3289 60.7216" stroke="white" stroke-opacity="0.3"/>
          <path class='play' d="M121.508 103.473L100.182 116.738L99.3575 91.637L121.508 103.473Z" stroke="white" stroke-width="2"/>
        </svg>
