@import 'normalize.css/normalize';
@import 'swiper/css';

@import './base';
@import './settings';
@import './fonts';


@import 'vevet/src/sass/components/scroll/scrollbar';
@import 'vevet/src/sass/components/loading/preloader';

@import './colors';
@import './common';
@import './wrap';

.#{$prefix}scrollbar {
  &__thumb {
    background-color: var(--color-highlight);
  }
}

html,
body {
  //overflow-x: hidden;
  line-height: 116%;

  &.lock{
    overflow: hidden;
  }
}

html {
  &:not(.v-loaded) {
    overflow: hidden;
  }

}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  @include reset-ul;
}

.container {
  position: relative;
  z-index: 1;
}

._container {
  width: 100%;
  // max-width: calc(100vw - 2 * var(--wrap));
  // margin: 0 auto;
  padding-left: var(--wrap);
  padding-right: var(--wrap);
  // margin: 0;
}

.logo-link {
  display: flex;
  align-items: center;
  width: 100%;
  cursor: pointer;
  text-decoration: unset;
  color: var(--color-white);

  > * + * {
    border-left: 1px solid rgba(var(--color-white--rgb), 0.38);
    margin-left: px-to-rem(6);
    padding-left: px-to-rem(6);
  }
  
  //.logo-link__img 
  &__img {
    max-width: px-to-rem(190);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
    @include viewport-phone {
      @media (max-width: 550px) {
        max-width: px-to-rem(140);
      }
    }

    @at-root .logo-link.footer__logo & {
      max-width: unset;
    }
  }
  
  //.logo-link__list 
  &__list {
    font-family: $font-family-additional;

    @include viewport-tablet-min {
      display: flex;
      align-items: center;
    }
    
    @include viewport-phone {
      display: none;
    }

    > * + * {
      border-left: 1px solid currentColor;
      margin-left: px-to-rem(4);
      padding-left: px-to-rem(4);
    }
  }
  
  //.logo-link__item 
  &__item {
    font-size: px-to-rem(12);
  }

  img,
  svg {
    width: 100%;
    height: auto;
  }
}

.button-dark {
  @include button-dark;
}

.button-light {
  @include button-light;
}

section {
  &.light {
    color: var(--color-black);
    background-color: var(--color-grey);
  }

  &.dark {
    color: var(--color-white);
    background-color: var(--color-black-100);
  }

  @include viewport-desktop {
    padding: px-to-rem(150) 0;
  }
  @include viewport-tablet {
    padding: px-to-rem(100) 0;
  }
  @include viewport-phone {
    padding: px-to-rem(60) 0;
  }
}

.socials {
  display: flex;
  align-items: center;

  > * + * {
    margin-left: px-to-rem(14);

    @at-root .socials.header__socials > * + * {
      @include viewport-phone {
        margin-left: 0;
      }
    }
  }

  //.socials__title 
  &__title {
    font-size: px-to-rem(14);
    line-height: 116%;
    font-weight: 500;

    @at-root .socials.header__socials & {
      @include viewport-phone {
        display: none;
      }
    }

    @at-root .socials.footer__socials & {
      font-weight: 400;
    }
  }
  
  //.socials__list 
  &__list {
    display: flex;
    align-items: center;

    li {
      flex-shrink: 0;
    }

    > * + * {
      margin-left: px-to-rem(8);
    }
  }
  
  //.socials__item 
  &__item {
    position: relative;
    z-index: 0;

    width: px-to-rem(32);
    height: px-to-rem(32);
    display: flex;
    align-items: center;
    justify-content: center;

    border: 1px solid rgba(var(--color-white--rgb), 0.38);
    border-radius: 50%;
    overflow: hidden;

    @include transition(border 0.5s);
    transform: translateZ(0);
    background-color: var(--color-black-100);

    @include hover-focus-visible {
      @include non-mobile-device {
        border-color: var(--color-black-100);
      }
    }

    &::before {
      content: '';
      display: block;
      @include absolute-fullsize;
      border-radius: inherit;

      @include transition(transform 0.5s);
      transform: scale(0);
      background-color: rgba(var(--color-white--rgb), 0.38);

      @at-root .socials__item:hover::before {
        @include non-mobile-device {
          transform: scale(1);
        }
      }
      @at-root .socials__item:focus-visible::before {
        @include non-mobile-device {
          transform: scale(1);
        }
      }
    }

    svg,
    img {
      position: relative;
      width: 100%;
      height: auto;
    }
  }
}

.marquee{
  display: block;
  width: 100%;
  font-weight: 300;
  line-height: 146%;

  color: var(--color-white);

  @include viewport-desktop {
    font-size: px-to-rem(98);
  }
  @include viewport-tablet {
    font-size: px-to-rem(76);
  }
  @include viewport-phone {
    font-size: px-to-rem(52);
  }

  &.outlined {
    // font-family: $font-family-additional;
    font-family: sans-serif;
    font-weight: 600;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px;

    color: rgba(var(--color-white--rgb), 0.21);
  }

  
  //.marquee__item 
  &__item {
    display: inline-block;
    //width: 100%;
    // height : 120px;
    
    @include viewport-desktop {
      margin-left: px-to-rem(56);
    }
    @include viewport-tablet {
      margin-left: px-to-rem(48);
    }
    @include viewport-phone {
      margin-left: px-to-rem(40);
    }

    // text {
    //   font-weight: 400;
    //   fill: none;
    //   stroke: var(--color-white);
    //   stroke-width: 1px;
    //   stroke-linejoin: round;
    // }
  }
}

//templates
@import './layout/form';
@import './layout/header';
@import './layout/popup';
@import './layout/popup-custom';
@import './layout/footer';

@import './layout/banner';
@import './layout/details';
@import './layout/statistic';
@import './layout/training';
@import './layout/benefits';
@import './layout/whois';
@import './layout/results';
@import './layout/complimentary';
@import './layout/appear';