doctype html
html(lang='en')
  include @/layout/head.pug

  body
    include @/layout/header.pug

    .appear(data-include-mobile='include')
      .appear__wrapper
        .appear-hidden
          include @/templates/banner.pug

        .appear-shown
          include @/templates/details.pug

    .appear
      .appear__wrapper
        .appear-hidden
          include @/templates/statistic.pug

        .appear-shown
          include @/templates/training.pug

    include @/templates/benefits.pug

    .appear.special
      .appear__wrapper
        .appear-hidden
          include @/templates/whois.pug

        .appear-shown
          include @/templates/results.pug

    .appear
      .appear__wrapper
        .appear-hidden
          include @/templates/complimentary.pug

        .appear-shown
          include @/layout/footer.pug

    script(src=require('@/scripts/video.ts')) 
    script(src=require('./index.ts')) 
